<form (ngSubmit)="sendMessage()">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input
    name="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Enter email"
    [(ngModel)]="email"
  />

  <br />
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input
    type="password"
    name="password"
    class="form-control"
    id="exampleFormControlInput1"
    [(ngModel)]="password"
  />

  <br />
  <br />
  <input type="submit" class="btn btn-primary" value="send message" />
</form>
